VITE_SUPABASE_URL=https://oeeognkuucwrigcsyhzz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9lZW9nbmt1dWN3cmlnY3N5aHp6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk0NDYyNTIsImV4cCI6MjEwNTAyMjI1Mn0.NhadNxlFc1EK1_I6xbJCEdJxNq3bNoEkKfQC8BIFgMQ
GEMINI_API_KEY=
